<settings>
    <category label="Setări">
        <setting id="timeout"  type="slider"   label="Timeout accesare site-uri (0=nelimitat)" default="20" range="1,1,50" option="int"/>
        <setting id="parolasite" type="number" label="Parola opțională site-uri (0 sau nimic dezactiveaza)" option="hidden" default=""/>
        <setting id="metadata" type="select" label="Extragere Informatii de pe:" values="TMdb|IMDb|Ambele" default="IMDb" />
        <setting id="recentslimit"  type="slider"   label="Limita Recente per site" default="5" range="1,5,100" option="int"/>
        <setting id="siteresolver" type="select" label="Resolver folosit:" values="URLResolver|ResolveURL" default="URLResolver" />
    </category>
    <category label="Trakt">
        <setting type="lsep" label="Trakt.tv" />
        <setting id="trakt.user" type="action" label="Autorizare..." option="close" action="RunPlugin(plugin://plugin.video.romanianpack/?action=authTrakt)" />
        <setting id="trakt.token" type="text" visible="false" label="" default="" />
        <setting id="trakt.refresh" type="text" visible="false" label="" default="" />
        <setting id="autotraktwatched" type="bool" label="Marcare automată ca vizualizat în Trakt" default="false"/>
    </category>
    <category label="Site-uri">
        <setting id="asiafaninfo"    type="bool"   label="AsiaFanInfo.net" default="true"/>
        <setting id="filme3dnet"    type="bool"   label="Filme3D.net" default="true"/>
        <setting id="filmebunenet"    type="bool"   label="Filme-bune.net" default="true"/>
        <setting id="filmehdnet"    type="bool"   label="FilmeHD.net" default="true"/>
        <setting id="filmeonline2013biz"    type="bool"   label="FilmeOnline2013.biz" default="true"/>
        <setting id="pefilme"    type="bool"   label="PeFilme.net" default="true"/>
        <setting id="portalultautv"    type="bool"   label="PortalulTauTv.com" default="true"/>
        <setting id="topfilmeonline"    type="bool"   label="TopFilmeOnline.net" default="true"/>
        <setting id="zfilmeonline"    type="bool"   label="ZFilme-Online.net" default="true"/>
        <setting id="serialenoihd"    type="bool"   label="SerialeNoiHD.com" default="true"/>
        <setting id="filmeonlineto"    type="bool"   label="Filme-Online.to" default="true"/>
        <setting id="filmeserialegratis"    type="bool"   label="Filme-Seriale.gratis" default="true"/>
        <setting id="flixanity"    type="bool"   label="Flixanity.is" default="true"/>
        <setting id="fsonlineorg"    type="bool"   label="FSOnline" default="true"/>
        <setting id="ymovies"    type="bool"   label="YesMovies.to" default="true"/>
        <setting id="clicksudorg"    type="bool"   label="ClickSud.org" default="true"/>
        <setting id="filmeonline2016biz"    type="bool"   label="FilmeOnline2016.biz" default="true"/>
    </category>
</settings>
